.container {    
    text-decoration: none;
    display: inline-block;
    align-items: center;
    text-align: center;
    width: 200px;
    margin-left: 5%;
    align-content: center;
    padding: 20px;
    justify-content: space-around;
    font-family: 'Roboto Slab', serif;
    color: #3c92dd;
    transition: 0.3s;
    /* border: 1px solid red; */
}
.container:hover{
    box-shadow:4px 4px 4px 4px #5e83a4;
    transform: scale(1.03);
    /* border: 4px solid rgb(108, 165, 165);  */
}

.name {
    text-decoration: none;
    margin-bottom: 0px;
    font-size: 25px;
    color: #194d7a;
    size-adjust: auto;
    font-family: 'Noto Serif Thai', serif;
}

.flag {
    max-width: 200px;
    width: 200px;
    height: 125px;
    display: flex;
    align-items: center;
}