.App {
  text-decoration: none;  
  /* text-align: center; */
  
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #19809c;
  
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#summer{
  /* background-color: #17191a; */
  background-image: url("./img/summer.png");
  background-size: cover;
  justify-content: center;
  height:120px;
  width: 120px;
}

#winter{
  /* background-color: #17191a; */
  background-image: url("./img/winter.png");
  background-size: cover;
  justify-content: center;
  height:120px;
  width: 120px;
}
#autumn{
  /* background-color: #17191a; */
  background-image: url("./img/autumn3.png");
  background-size: cover;
  justify-content: center;
  height:120px;
  width: 120px;
}
#spring{
  /* background-color: #17191a; */
  background-image: url("./img/spring.png");
  background-size: cover;
  justify-content: center;
  height:120px;
  width: 120px;
}