body {
  background: url("https://acegif.com/wp-content/uploads/gifs/globe-24.gif");
  background-repeat: no-repeat;
  background-size: 400px;
  /* margin:center;
  justify-content: center;
  align-items: center; */
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
