.homeall{
    font-family: 'Playfair Display', serif;
    align-content: center;
    align-items: center;
    margin: 0px;
    padding: 0px;
    background-image: url("../../img/mundo.jpg");
    background-position: 00px 50px;
    background-repeat:no-repeat;
    
    width: 100%;
    min-height:1080px;
    background-size: 100%;
}

.countriesall{
    font-family: 'Playfair Display', serif;
    align-content: center;
    align-items: center;
}