
.total {
    background-image: url("../../img/fondoactividades4.png");
    display: inline-block;
    font-family: 'Playfair Display', serif;
    width: 100%;
    height: 1300px;
    font-size: 35px;
    background-attachment: fixed;
    /* background-position: ; */
}

.barra {
    width: 100%;
    display: flex;
    font-family: 'Playfair Display', serif;
    font-size: 30px;
    text-align: center;
    align-content: center;
    align-items: center;
    color: aliceblue;
    background-color: #3bb2bfb1;
    /* background-color: #4895D9; */
}

.img {
    height: 50px;
}

.title {
    margin-left: 70px;
    display: flex;
    font-size: 35px;
    width: 900px;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
}

.app {
    text-decoration: none;
    display: flex;
    width: 380px;
    color: white;
    font-size: 25px;
    font-family: 'Bebas Neue', cursive;
    margin-left: 15px;
    font-family: 'Cinzel', serif;
}

.name {
    border-radius: 15px;
    justify-content: center;
    width: 600px;
    margin-left: 0px;
    text-align: center;
    font-size: 40px;
    color: white;
    background-color: #1b6bb1dc;
}

.details {
    align-items: flex-end;
    display: flex;
    justify-content: center;
    margin: 0%;

}

.miniconteiner {
    font-size: 20px;
    margin-top: -10px;
    display: flex;
    align-items: flex-start;
    align-items: baseline;
    justify-content: space-around;
}

.difficulty {
    display: flex;
    justify-content: center;
    flex-direction: column;
    /* -ms-progress-appearance: ring; */
    /* background-color: #3BB2BF; */
}

.difficulty progress {
    margin-top: -15px;
}


.btn_home {
    text-decoration: none;
    color: #4895D9;
    font-family: 'Roboto Slab', serif;
    font-weight: bold;
    border: none;
    display: inline flex;
    height: 40px;
    width: 180PX;
    font-size: 18px;
    margin: 30px;
    border-radius: 5px;

}

.btn_home:hover {
    background-color: #9d9b9b;
    color: white;
    transition: 0, 5s;
}

.btn_activity {
    /* text-decoration: none; */
    color: #4895D9;
    font-family: 'Roboto Slab', serif;
    font-weight: bold;
    border: none;
    display: inline flex;
    height: 40px;
    width: 300PX;
    font-size: 18px;
    margin: 10px;
    margin-left: 250px;
    border-radius: 5px;
}

.btn_activity:hover {
    background-color: #9d9b9b;
    color: white;
    transition: 0.3s;
}

.allConteiners {

    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    align-content: center;
    flex-direction: row;
    width: 1350px;
    flex-direction: column;
    transition: 1s;
    align-items: center;

}

summary {
    border-radius: 15px;
    margin-top: 20px;
    border: 1px solid transparent;
    /* margin-left: 10px; */
    cursor: pointer;
    /* background-color: #031a2f; */
    transition: 0.3s;
}

summary::marker {
    margin: 0%;
    content: none;
    cursor: n-resize;
    /* transition: 1s; */
}

summary:hover {
    background-color: #1b6bb1;
    transform: scale(1.03);
    border: solid 1px #4895D9;
    box-shadow: 4px 4px 4px 0px #3c566d;
}

.contenedor {
    /* padding-left: 10px; */
    height: auto;
    width: 600px;
    max-width: 600px;
    height: 600px;
    display: inline-block;
    /* margin: 10px; */
    /* margin-left: 50px; */
    background-color: #accdd3b6;
    font-family: 'Roboto Slab', serif;
    /* margin-top: 40px; */
    /* border: 3px solid #3BB2BF; */
    /* border-radius: 10px; */
    transition: 0.3s;
    /* font-size: 12px; */
    border: 1px solid transparent;
}

.contenedor:hover {
    transition: 0.2s;
    border: 1px solid #3BB2BF;
}

.topconteiner {
    height: 380px;
}

.imgseason {
    /* margin-left: -25px; */
    margin-top: 20px;
    margin-bottom: -85px;
}

.valores {
    margin-top: 5px;
    margin-left: 0px;
    text-align: center;
    font-size: 19px;
    /* text-transform: uppercase; */
}

.titdescription {
    margin-top: 10px;
}

.description {
    text-align: center;
    font-size: 18px;
    padding-left: 10px;
    /* margin-top: 20px; */
    /* text-transform: uppercase;  */
}

h3 {
    text-align: center;
    font-size: 20px;
    margin: 0%;
}

.btn {
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* botones delete y update */
.buttons {
    display: flex;
    justify-content: space-evenly;
    align-content: center;
    flex-direction: row;
    align-items: center;

}

.btn_delete {
    font-family: 'Roboto Slab', serif;
    font-weight: bold;
    color: #031a2f;
    border: none;
    display: inline flex;
    height: 25px;
    width: 230PX;
    margin-top: -20px;
    font-size: 14px;
    background-image: linear-gradient(to left, #81abcf 50%, #951717b4 50%);
    background-size: 200%;
    background-repeat: no-repeat;
    background-position: right;
    cursor: pointer;
    transition: background-position .3s ease;
    padding: none;
    transition: 0.3s;
    border-radius: 20px;
}

.btn_delete:hover {
    background-position: left;
    color: white;
    font-weight: bold;

}

/* fondo de la pagina */
.btnupdate {
    text-decoration: none;
    font-family: 'Roboto Slab', serif;
    font-weight: bold;
    color: #031a2f;
    border: none;
    display: flex;
    height: 25px;
    width: 230PX;
    margin-top: -20px;
    font-size: 14px;
    background-image: linear-gradient(to left, #81abcf 50%, #2c87139a 50%);
    background-size: 200%;
    background-repeat: no-repeat;
    background-position: right;
    cursor: pointer;
    transition: background-position .3s ease;
    padding: none;
    transition: 0.3s;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
}

.btnupdate:hover {
    background-position: left;
    color: white;
    font-weight: bold;

}

.image {
    display: flex;
    margin-top: -5000px;
}



.países {
    margin-top: 10px;
    display: flex;
    width: 200px;
    height: 190px;
    width: 100%;
    font-family: 'Roboto Slab', serif;
    font-size: 15px;
    flex-wrap: wrap;
}

.flag_name {
    box-sizing: content-box;
    display: inline-flex;
    justify-content: flex-end;
    width: 100px;
    height: 40px;
    margin: 20px;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    align-items: center;
}

.flag {
    box-sizing: content-box;
    display: block;
    /* margin: 10px; */
    max-width: 40px;
    height: 26px;
}

.selectactivity {
    margin-top: 10px;
    font-family: 'Roboto Slab', serif;
    font-weight: bold;
    color: #073763;
    font-size: 25px;

}