
.contenedor{
    margin: 0;
    padding: 0%;
    font-size: 18px;
    display: inline-flex;
    font-family: 'Roboto Slab', serif;
    align-items: center;
    align-content: center;
    justify-content: center;
    
    
}
.form{
display: flex;
align-items: center;
}

.btn {
    text-decoration: none;
    color: #2a77bb;
    font-family: 'Roboto Slab', serif;
    font-weight: bold;
    border: none;
    display: inline flex;
    height: 42px;
    width: 130PX;
    font-size: 18px;
    margin: 0px;
    border-radius: 0px 5px 5px 0px;
}

.btn:hover {
    background-color: #9d9b9b;
    color: white;
    transition: 0, 5s;
    }
    .input{
        text-decoration: none;
        font-size: 18px;
        display: inline flex;
        height: 40px;
        width: 230PX;
        border-radius: 5px 0px 0px 5px;
        margin-left: 100px;
        border: none;
        border: 3px transparent;
        color: #2a77bb;
    }
    .input:hover {
        outline: none;
        border: 3px solid  #6aaae2;
        }