.total{
    background-image: url("../../img/fondoactividades.png");
    background-repeat: no-repeat;
    background-size: contain;
display: inline-block;
font-family: 'Playfair Display', serif;
}
.barra {
    width: 100%;
    display: flex;
    font-family: 'Playfair Display', serif;
    font-size: 20px;
    text-align: center;
    align-content: center;
    align-items: center;
    color: aliceblue;
    background-color: #4895D9;
}
.title{
    margin-left: 200px;
}
.name{
    margin-left: 300px;
    font-size: 30px;
    color: rgb(0, 0, 0);
}

.btn_home {
    text-decoration: none;
    color: #4895D9;
    font-family: 'Roboto Slab', serif;
    font-weight: bold;
    border: none;
    display: inline flex;
    height: 40px;
    width: 130PX;
    font-size: 18px;
    margin: 30px;
    border-radius: 5px;
}

.btn_home:hover {
    background-color: #9d9b9b;
    color: white;
    transition: 0, 5s;
    }
.btn_activity{
    text-decoration: none;
    color: #4895D9;
    font-family: 'Roboto Slab', serif;
    font-weight: bold;
    border: none;
    display: inline flex;
    height: 40px;
    width: 200PX;
    font-size: 18px;
    margin: 30px;
    margin-left: 550px;
    border-radius: 5px;
}
.btn_activity:hover {
    background-color: #9d9b9b;
    color: white;
    transition: 0.3s;
    }
.contenedor{
    padding-left: 10px;
    height:auto;
    width: 60%;
    display: inline-block;
    margin: 10px;
    margin-left: 50px;
    background-color: #f2b705;
    font-family: 'Roboto Slab', serif;
    /* backdrop-filter: blur(5px); */
    margin-top: 20px;
    border: 3px solid #F19F4D;
    border-radius: 10px;
    transition: 0.3s;
    font-size: 12px;
}
.miniconteiner{
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: space-around;
    

}
.valores{
    margin-top: 5px;
    margin-left: 0px;
    text-align: center;
    font-size: 19px;
    text-transform: uppercase;

}

.btn_delete{
    font-size: 20px;
    background-color: #F19F4D;
    color: #d87d23;
    /* background-image: linear-gradient(to left,#f2b705be 85%, #D9D9D9 15%  ); */
    border: none;
    display: inline-flex;
    margin-left: 700px;
    margin-bottom: 10px;
    /* height: 30px; */
    /* width: auto; */
border-radius:  5px;
text-align: left;
    /* margin-bottom: 80px; */

}
.btn_delete:hover{
    background-color: #4895D9;
    color: white;
    /* background-image: linear-gradient(to left,#f2b705be 1%, #D9D9D9 99%  ); */
    transition: 0.5s;
}
/* fondo de la pagina */
.image{
    display: flex;
    margin-top: -5000px;
}

.países{
    margin: 10px;
display: inline-block;
width: 200px;
height: 100px;
width: 100%;
}

.flag_name{
    box-sizing: content-box;
    display: inline-block;
    /* max-width: 200px; */
    width: 100px;
    height: 40px;
    margin: 20px;
}
.flag{
    box-sizing: content-box;
    display: block;
    /* margin: 10px; */
    max-width: 40px;
    height: 26px;
}

/* .circular_progress{
    width: 12rem;
    height: 12rem;
    background:linear-gradient(0deg, #fff 50%,rgba(#fff,0.2) 50%);
    border-radius: 50%;
    margin: auto;
    position: relative;
    transform: rotate(90deg);
}
.circular_progress::after{
    content: "difficulty";
    width: 12rem;
    height: 12rem;
    position: absolute;
    top:0;
    left: 0;
    background: #f2b705 content-box;
    border-radius: 50%;
    padding: .5em;
    box-sizing: border-box;
    font-size: 2rem;
    color: #fff;
    text-align: center;
    line-height: 8rem;
    transform: rotate(-90deg);
}
.circular_progress::before{
    content:"50%";
    width: 12rem;
    height: 12rem;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 50%;
    background: linear-gradient(transparent 50%, rgb(189, 19, 19) 50%);
    transform: scale(1.1) rotate(90deg);
    text-align: center;
    color: #fff;
    line-height: 13rem;
} */