.homeall{
    font-family: 'Playfair Display', serif;
    align-content: center;
    align-items: center;
    margin: 0px;
    padding: 0px;

}

.countriesall{
    font-family: 'Playfair Display', serif;
    align-content: center;
    align-items: center;
}