.container {
    /* margin-top: 50px; */
    display: inline-block;
    align-items: center;
    text-align: center;
    width: 200px;
    margin-left: 40px;
    align-content: center;
    padding: 20px;
}

.name {
    margin-bottom: 0px;
    font-size: 25px;
    color: rgb(60, 60, 139);
    size-adjust: auto;
    font-family: 'Noto Serif Thai', serif;
}

.flag {
    max-width: 200px;
    width: 200px;
    height: 125px;
    display: flex;
    align-items: center;
}

.close {
    font-family: 'Roboto Slab', serif;
    font-weight: bold;
    margin-top: 5px;
    color: rgb(41, 41, 116);
    border: none;
    display: inline flex;
    height: 20px;
    width: 180PX;
    font-size: 14px;
    border-radius: 5px;
    /* margin-left: 30px; */
}

.close:hover {
    background-color: rgba(165, 42, 42, 0.45);
    color: aliceblue;
    transition: 0.2s;
}