
.paginado{
    list-style: none;
    text-align: center;
}

.numberPage{
    display: inline-block;
    margin-right: 5px;
}

.paginado a{
    display: block;
    padding: 10px 10px;
    color: white;
    background: #7FB5FA;
    text-decoration: none;
    border-radius: 10px;
    transition: 0.2s;
    
}

.paginado a:hover{
    background: #073672;
}

/* .paginado .active{
    background: #724207;
 } */